.scrollBar::-webkit-scrollbar {
    width: 0.7rem;
    background: #eee;
}

.scrollBar::-webkit-scrollbar-thumb {
    background:  #ccc;
    border-radius: 0.5rem;
}

.scrollBar-none::-webkit-scrollbar {
    width: 0;
}